body {
    font-family:helvetica, sans-serif;
    background-color: #D9CAB3;
}

.top-button {
	width:75px;
	height:75px;
	border-radius:50%;
	background-color:#404040;
	position:fixed;
	bottom:15px;
	right:15px;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top:15px;
}

.top-button:hover{
	cursor:pointer;
}

.up-arrow{
	color:white;
	font-size: 3em;
}
